<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Lastpost:</strong>
  <%= @topic.lastpost %>
</p>

<p>
  <strong>Posts:</strong>
  <% @posts.each do |post| %>

    <ul>Post Content: <%=  post.content %></ul>

<% end %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
