<%= link_to "Posts per day", company_manager_data_path%>&nbsp;<%= link_to "Posts per day by channel", company_manager_by_channel_path(Channel.all.first.id)%>&nbsp;<%= link_to "Posts per day by user", company_manager_by_user_path(User.where(:group_id => 1).first.id)%>&nbsp;<%= link_to "Sortable table", company_manager_show_table_path("date-asc")%>

<h2>2) No of posts per day by channel</h2>
 <select id="channel_selection">
  <% for @channel in @channels%>
    <option id="channel_<%=@channel.id%>" value="<%=@channel.id%>" class="channel"><%= @channel.name%></option>
  <% end %>
</select> 
</br></br>
<%= line_chart Post.where(:topic_id => @topic_ids).group_by_day(:created_at).count %>

<script>
  $("#channel_selection option[id='channel_<%=@channel_id%>']").attr("selected", "selected");
  $("#channel_selection").change(function(){
      var id = $(this).children(":selected").attr("id").substring(8);
      window.location = "/company_manager_by_channel/" + String(id);
  });
</script>
