<!DOCTYPE html>
<html>
  <head>
    <title>DiscussionBoard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  </head>

  <body><div class="header">
  <h1>Discussion Board</h1>
  <div class="navigation">
    <%=link_to "Home", root_path%>
    <%=link_to "Users", users_path%>
    <%=link_to "Groups", groups_path%>
    <%=link_to "Topics", topics_path%>
  </div>
  </div>
  <%= yield %>
  </body>
</html>
